body {
    background-color: #EEEDED;
    text-align: center;
       
 }
 
#wrapper {
    width: 900px;
    margin: 0 auto;            
  }
 
#content {
    background-color: #fff;
    border: 2px solid #000;
    float: left;
    font-family: Gotham, Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 20px 30px;
    text-align: left;
    width: 100%; 
    padding-bottom:150px;                   
    border-radius: 8px; 
}
 
#menu {

    border: 1px solid #000;
    border-bottom: none;        
    clear: both;               
    width:100%;
    height:25px;
    padding: 0 30px;
    background-color: #FFF;
    text-align: center;
    font-size: 85%;
}
 
#menu a:hover {
    background-color: #a6a6a6;
}
  
#footer {
    clear: both;
}
 
/* table styles */
table {
    border-collapse: collapse;
    width: 90%;
    
}
 
table a {
    color: #000;
}
 
table a:hover {
    color:#373737;
    text-decoration: none;
}
 
th {
    background-color: rgb(16, 115, 0);
    color: #F0F0F0;
    height: 30px;
}
 
td {
    padding: 5px;
}
 
/* font styles */
h1, #footer {
    font-family: Gotham, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #000000;
}
 
h3 {margin: 0; padding: 0;}
 
/* Menu appearances */
.item {
    background-color: #5a5a5a;
    border: 1px solid #032472;
    color: #FFF;
    font-family: Gotham, Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 3px;
    text-decoration: none;
}
 
.leftpart {
    width: 80%;
}
 
.rightpart {
    width: 40%;
}

.small {
    font-size: 75%;
    color: #373737;
}
#footer {
    font-size: 65%;
    padding: 3px 0 0 0;
}
 
.topic-post {
    height: 100px;
    overflow: auto;
}
 
.post-content {
    padding: 30px;
}
 
textarea {
    width: 400px;
    height: 200px;
    border-radius: 10px;
}

